.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexHeader {
    flex-direction: column;
}

.flexBody {
    flex-direction: row;
    display: flex;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexBodyItem {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.counter {
    align-self: center;
}

.icon {
    width: 30%;
    align-self: center;
    padding-top: 10px;
}